#game-board {
    text-align: center; 
    margin-top: 60px;
}

#start-button {
    margin-bottom: 10px;
}

#lives {
    position: absolute;
    top: 1.5%;
    right: 15%;
    font-size: 2.8rem;
}

#score {
    position: absolute;
    top: 1.5%;
    left: 15%;
    font-size: 2.6rem;
}

#heart {
    position: absolute;
    top: 2%;
    right: 18%;
}

#buttons {
    position: absolute;
    top: 10%;
    left: 46%;
    color: red;
}

#restart {
    background-color: transparent;
    color: red;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}


