* {
    margin: 0;
    padding: 0;
}

#game-board {
    margin: 20px auto;
    width: 900px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: #FFFFFF;
    padding: 10px;
}

.name {
    font-size: 2.8rem;
    width: 60%;
}

#lives {
    font-size: 2.8rem;
}

#score {
    font-size: 2.6rem;
    width: 30%;
}

#health {
    width: 10%;
    margin-left: 10px;
}

#heart {
    margin-right: 5px;
}
